body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
}

.logos {
    font-size: 7.5vw;
    display: flex;
    flex-direction: row;
    gap: 10vw;
}
  
.button:hover {
    background-color: limegreen;
    color: black;
}

.icon {
    display: flex;
    flex-direction: column;
    text-align: center;
}
