input,label,button {
    zoom: 2;
}

* {
    font-family: 'Open Sans', sans-serif;
}

.explain {
    background-color: #BBB;
    padding: 30px;
    border-radius: 10px;
    display:inline-block;
}