body {
	background-color: lightblue;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
  color: black;
  text-align: center;
}

p {
  color: black;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  text-align: center;
}

/*Directions*/

.center {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.right {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-250%, -50%);
	transform: translate(-250%, -50%);
}

.left {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(150%, -50%);
	transform: translate(150%, -50%);
}

.palign {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -250%);
  transform: translate(-50%, -250%);
}

.skill {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(400%, -400%);
  transform: translate(400%, -400%);
}

/*Button*/

.button {
  width: 100px;
  background-color: #ffffff;
  border: none;
  color: #000000;
  padding: 15px 32px;
  text-align: center;
  margin: auto;
  font-family: 'Poppins', sans-serif;
  display: inline-block;
  font-size: 16px;
  transition: 0.3s;
}

.button:hover {
  background-color: limegreen;
  color: black;
}

/*Image*/

body {
	background-image: url("backgroundpicture.jpg");
	background-size: cover;
}
