main {
    text-align: center;
    font-family: monospace;
    color:black;
}

h1 {
    font-size: 70px;
    font-weight: bold;
}

h2 {
    font-size: 2.5vw;
}

input {
    zoom: 3;
}

p {
    display: inline-block;
    font-size: 2vw;
    margin: 2vw;
}

#outputX, #outputY {
    font-weight: bold;
}

.navbar-item img {
    max-height: 3rem;
}