@font-face {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff2") format("woff2");
}

* {
	font-family: "Poppins", sans-serif !important;
}

h1 {
	text-align: center;
	font-size: 130px;
	color: black;
}

h2 {
	text-align: center;
	font-size: 70px;
	color: black;
}

.navbar-item img {
	max-height: 3rem;
}

body.has-navbar-fixed-top,
html.has-navbar-fixed-top {
	padding-top: 4rem;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150%;
}