@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("https://fonts.gstatic.com/s/opensans/v20/mem8YaGs126MiZpBA-UFVZ0b.woff2") format("woff2");
}

* {
	font-family: "Open Sans", sans-serif;
}

h1 {
	font-size: 90px;
	color: #000;
	font-weight: 1000;
	line-height: 64px;
	margin-left: 15px;
}

h2 {
	font-size: 30px;
	color: #000;
	font-weight: 500;
	line-height: 40px;
	margin: 20px;
	margin-top: 30px;
}

.image img {
	width: auto;
	height: auto;
}

a {
	text-decoration: none !important;
}

.navbar-item img {
	max-height: 3rem;
}

#minecraftAvatar {
	margin-top: -90px;
    margin-left: 100px;
}
