.image img { width: auto; height:auto; }

a {
    text-decoration: none !important;
}

.notification .content, .notification .subtitle, .notification .title {
    color: black;
}

.navbar-item img {
    max-height: 3rem;
}