h1 {
	text-align: center;
	font-size: 3vw;
	color: black;
	font-weight: bold;
}

h2 {
	text-align: center;
	font-size: 2.5vw;
	color: black;
}

h3 {
	text-align: center;
	font-size: 1.5vw;
	color: black;
}
