h1 {
	font-size: 100px;
    color:black;
    text-align: center;
    font-family: 'Pacifico', cursive !important;
}

h2 {
	font-size: 45px;
    color:black;
    font-weight: bold;
    text-align: center;
}

main {
	font-family: monospace;
    color:black;
}

.bordersection {
	border-right: 1px solid #aaa;
}

#statusDiv {
	font-size: 40px;
	font-family: monospace;
	margin: 20px;
	text-align: center;
    color:black;
}

.navbar-item img {
    max-height: 3rem;
}

h3 {
    font-size: 40px;
    text-align: center;
    color:black;
}

*{
    font-family: 'Poppins', sans-serif !important;
}

