h1 {
	font-size: 70px !important;
	font-weight: bold;
	color: black;
	margin-bottom: 30px;
	line-height: 65px;
}

h2 {
	font-size: 20px !important;
	color: black;
}

@font-face {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff2") format("woff2");
}

* {
	font-family: "Poppins", sans-serif !important;
}

.carousel {
	position: relative;
	overflow: hidden;
}
.carousel .carousel-container {
	width: 100%;
	position: relative;
	border: none;
	display: flex;
	margin: 0;
	padding: 0;
	left: -100%;
	transform: translateX(100%);
}
.carousel .carousel-container .carousel-item {
	display: block;
	position: relative;
	flex: 1 0 100%;
}
.carousel .carousel-container .carousel-item .title {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 1.5em;
	margin: 0;
	text-align: center;
	background: rgba(255, 255, 255, 0.6);
	font-size: 0.75rem;
}
.carousel .carousel-navigation {
	display: flex;
	justify-content: space-around;
	width: 100%;
}
.carousel .carousel-navigation .carousel-nav-left,
.carousel .carousel-navigation .carousel-nav-right {
	padding: 1em;
}
.carousel .carousel-navigation.is-centered {
	justify-content: center;
}
.carousel.is-4 .carousel-container {
	left: calc(-100% / 4);
	transform: translateX(calc(100% / 4));
}
.carousel.is-4 .carousel-container .carousel-item {
	padding: 1em;
	flex-basis: calc(100% / 4);
}

.carousel.carousel-animate-slide.carousel-animated .carousel-container {
	transform: none;
	transition: transform 0.5s ease-in-out;
}

#mymap {
	background: url("../static/map.png");
	position: relative;
	overflow: hidden;
	padding-top: 68%;
}
#mymap iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}

@font-face {
	font-family: "icomoon";
	src: url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "icomoon" !important;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-chevron-right:before {
	content: "\e902";
}
.icon-chevron-left:before {
	content: "\e903";
}
.icon-navigate_next:before {
	content: "\e900";
}
.icon-navigate_before:before {
	content: "\e901";
}
