input,button {
    zoom: 2;
    color:black;
    margin:10px;
}

@font-face {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff2") format("woff2");
}

* {
	font-family: "Poppins", sans-serif !important;
}

.explain {
    background-color: #BBB;
    padding: 30px;
    border-radius: 10px;
    display:inline-block;
    color:black;
}

.navbar-item img {
    max-height: 3rem;
}

center {
    margin-top: 60px;
}

label, h1 {
    font-size: 50px;
    font-weight: bold;
    color:black;
}
