p {
	font-size: 1.5vw;
	display: block;
	color: black;
}

h1 {
	font-size: 2vw;
	color: black;
}

progress {
	display: block;
	width: 15em;
}

#canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 150%;
}

progress {
	width: 12vw !important;
	text-align: left;
}
