p {
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 800px;
}

#background_1 {
    background-color: lightgreen;
    position: relative;
    width: 500px;
    height: 300px;
    left: 400px;
    top: -100px;
}

#background_2 {
    background-color: orange;
    position: relative;
    width: 500px;
    height: 300px;
    left: 1000px;
    top: -450px;
}

#boughtStocks {
    color: maroon;
    position: relative;
    left: 300px;
    top: -270px;
    width: 100px;
}

#boughtStocks2 {
    color: maroon;
    position: relative;
    left: 300px;
    top: -270px;
    width: 100px;
}

.brokers {
    position: relative;
    background-color: lightslategray;
    width: 350px;
    height: 500px;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    display: inline-block;
}

#brokersection {
    display: flex;
    overflow: auto auto auto auto;
    justify-content: space-evenly;
}

#bank {
    color: green;
    position: relative;
    left: 903px;
    top: -450px;
    width: 100px;
}

.bs {color: maroon;}
.bp {color: green;}
.in {color: lightgreen;}