<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>

    <!-- Cloudflare Web Analytics -->
    <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "d4bfae6f613b4c11a881a3bff5670622"}'></script>
    <!-- End Cloudflare Web Analytics -->

    <script type="text/javascript">
        window.setTimeout(function () { document.location.reload(true); }, Number(60000));
    </script>

</head>

<body>
    <center>
        <h1 style="font-family:monospace">Unable to reach Hypixel API. Try again later. Notify DSNS at DSNS#1087.</h1>

        <h1 style="font-family:monospace">Error: <%= error %></h1>

        <iframe height="1000px" width="100%" src="https://status.hypixel.net/" frameborder="0"></iframe>
    </center>

</body>

</html>