.row {
	display: flex;
}

.column {
	text-align: center;
	flex: 50%;
	padding: 8px;
}

p {
	font-size: 5vw;
	margin: 6vh;
    color:black;
}

h1 {
	font-size: 2vw;
    color:black;
}

h2 {
	font-size: 2vw;
	text-align: center;
    color:black;
}

main {
	font-family: monospace;
    color:black;
}

.bordersection {
	border-right: 1px solid #aaa;
}

#statusDiv {
	font-size: 40px;
	font-family: monospace;
	margin: 20px;
	text-align: center;
    color:black;
}

.navbar-item img {
    max-height: 3rem;
}
